<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.js"></script>
</head>
<body>
    <div class="ui middle aligned center aligned grid">
        <div class="column">
            <h1>Login</h1>
            <form class="ui large form" action="{{ url_for('login') }}" method="post">
                <div class="ui stacked segment">
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            <input type="text" class="form-control" name="username" id="username" placeholder="Username" required/>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            <input type="password" class="form-control" name="password" id="password" placeholder="Password" required/>
                        </div>
                    </div>
                    
                        <input class="button-top" type="submit" value="Login" name="">
    
                    <p>Don't have an account? <a href="{{ url_for('register') }}">Register</a></p>
                    </div>
                    <div class="flash">
                        {% with messages = get_flashed_messages() %}
                        {% if messages %}
                        {% for message in messages%}
                        <div class="alert">
                            {{message}}
                        </div>
                        {% endfor %}
                        {% endif %}
                        {% endwith %}
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>