{% extends 'layout.html' %}

{% block title %}Attendence{% endblock %}

{% block content %}
<h1 class="ui header">Attendence Dashboard</h1>
<div class="flash">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages%}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>{{message}}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
</div>  
<div class="">
    <table>
        <tr>
            <th>Student ID</th>
            <th>Name</th>
            <th>Class ID</th>
            <th>Course ID</th>
            <th>Date</th>
            <th>Time</th>
            <th>Actions</th>
        </tr>
        {% for attendence in attendences %}
        <tr>
            <td>{{attendence['s_id']}}</td>
            <td>{{attendence['f_name']}}</td>
            <td>{{attendence['class_id']}}</td>
            <td>{{attendence['course_id']}}</td>
            <td>{{attendence['date']}}</td>
            <td>{{attendence['time']}}</td>
            <td>
                <a href="/delete_attendence/{{attendence['a_id']}}" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteModal{{attendence['a_id']}}">Delete</a>
            </td>
        </tr>
        <div id="deleteModal{{attendence['a_id']}}" class="modal fade" role="dialog" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Delete Information</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="{{ url_for('delete_attendence') }}" method="POST">
                            <div class="form-group">
                                <label>Are you sure you want to delete?</label>
                                <input type="hidden" name="a_id" id="a_id" value="{{attendence['a_id']}}">
                                <button type="submit" class="btn btn-primary col-auto">Confirm</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </table>
</div>

{% endblock %}